<!DOCTYPE html>

<html>
<head>
    <title>Jesse's Application</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">Jesse's Web Application</h1>
            <nav>
                <ul class="menu">
                    <li>
                        <strong>
                            <a href="{{url_for('home')}}">Home</a>
                        </strong>
                    </li>
                    <li>
                        <strong>
                            <a href="{{url_for('about')}}">About</a>
                        </strong>
                    </li>
                    <li>
                        <strong>
                            <a href="{{url_for('hobby')}}">Hobby</a>
                        </strong>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
</body>
</html>